---
---

@import "{{ site.theme }}";

// Override specific styles for layout adjustments
header, footer {
	float: none;
	position: static;
	width: 100%;
	}

	section {
	width: 100%;
	float: none;
	padding-bottom: 50px;
	}

	.wrapper {
	width: 100%;
	margin: 0 auto;
	}

	// Adjust the media queries as needed
	@media print, screen and (max-width: 960px) {
	header, section, footer {
		float: none;
		position: static;
		width: auto;
	}

	header {
		padding-right: 0;
	}
}

.lightbox_imgs {
	display: flex; /* Enable flex layout for the container */
	flex-wrap: nowrap; /* Prevent wrapping of items to ensure they are side by side */
	overflow-x: auto; /* Add horizontal scroll bar if content is too wide */
	width: 100%; /* Container takes the full width */
}

.lightbox_imgs a {
	flex: 1 1 auto; /* Allow items to grow and shrink but not less than their content size */
	margin: 0 10px; /* Add space between images */
	display: flex; /* Enable flex layout for link elements */
	justify-content: center; /* Center images horizontally */
	align-items: center; /* Center images vertically */
}

.lightbox_imgs img {
	max-width: 100%; /* Limit image width to not exceed its container */
	height: auto; /* Maintain the aspect ratio */
}
