---
---

@import "{{ site.theme }}";

// Override specific styles for layout adjustments
header, footer {
	float: none;
	position: static;
	width: 100%;
	}

	section {
	width: 100%;
	float: none;
	padding-bottom: 50px;
	}

	.wrapper {
	width: 100%;
	margin: 0 auto;
	}

	// Adjust the media queries as needed
	@media print, screen and (max-width: 960px) {
	header, section, footer {
		float: none;
		position: static;
		width: auto;
	}

	header {
		padding-right: 0;
	}
}




body {
	background-color: #f8f8f8; /* Subtle off-white shade for the outside area */
	margin: 0;
	padding: 20px;
}

/* Style the <section> tag which contains the main content */
section {
	max-width: 1000px; /* Maximum width for text content */
	margin: auto; /* Centers the content block */
	background-color: #fdfdfd; /* Slightly different off-white for the content area */
	padding: 40px; /* Spacing inside the content area */
	border: 1px solid #eaeaea; /* Subtle border color */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.lightbox_imgs {
	display: flex;
	justify-content: center; /* Center images horizontally */
	align-items: center; /* Align images vertically */
	overflow-x: auto; /* Adds horizontal scrolling if images exceed the viewport's width */
	margin: 20px auto; /* Add some top and bottom space and center horizontally */
	max-width: 1200px; /* Max width for the images */
}

.lightbox_imgs a {
	margin: 0 10px; /* Adds spacing between images */
	flex: 1 1 auto; /* Allows items to shrink but not grow */
	display: inline-flex; /* Displays links as flex containers to center the images */
	justify-content: center; /* Center the images horizontally within the links */
	align-items: center; /* Center the images vertically within the links */
}

.lightbox_imgs img {
	height: auto; /* Maintains the image's aspect ratio */
	max-width: 100%; /* Ensures the image can shrink but never exceeds its natural size */
}

/* Mobile view adjustments */
@media (max-width: 600px) {
	body {
		padding: 10px; /* Reduced padding on smaller screens */
	}

	section {
		max-width: none; /* Allows section to use maximum available width */
		margin: 0; /* Removes the margin for full-width use */
		padding: 20px; /* Adjust padding for mobile */
		border: none; /* Removes border */
		box-shadow: none; /* Removes shadow */
	}

	/* If you want the .lightbox_imgs to also have specific styles on mobile */
	.lightbox_imgs {
		margin: 10px auto; /* Adjust top and bottom margin for mobile */
	}
}